if !everyauth.user
  footer
    .row
      .col-lg-5
        p © Chat Salon - Powering Real-Time Conversations
      .col-lg-7
        ul#footer-links.pull-right
          li
            a(href='#') About Us
          li
            a(href='#') Contact
          li
            a(href='#') Blog
          li
            a(href='#') Privacy
          li
            a(href='#') Terms of Service
          li
            a(href='#') Support